{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Speaker {{ speaker.firstname }} {{ speaker.name }}</h1>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('speaker_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('speaker_edit', { 'id': speaker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <p><strong>Id :</strong> {{ speaker.id }}</p>
    <p><strong>Firstname : </strong> {{ speaker.firstname }}</p>
    <p><strong>Name :</strong> {{ speaker.name }}</p>
    <p><strong>Subject :</strong> {{ speaker.subject }}</p>
    <p><strong>Classroom :</strong>
    {% if speaker.classroom is not null %}
    {{ speaker.classroom.name }}
    <a class="btn btn-default" href="{{ path('classroom_index') }}">Change speaker</a>
    {% else %}
        Would you like to add one ?
        <a class="btn btn-default" href="{{ path('classroom_index') }}">Find a classroom for this speaker.</a>
    {% endif %}</p>
    
    </div>
{% endblock %}
