{% extends 'base.html.twig' %}

{% block body %}
    <h1>Speaker</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speaker.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ speaker.name }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ speaker.subject }}</td>
            </tr>
            <tr>
                <th>Classroom</th>
                {% if speaker.classroom is not null %}
                <td>{{ speaker.classroom.name }}
                <a href="{{ path('classroom_index') }}">Change speaker</a>
                </td>
                {% else %}
                    <td>Would you like to add one ?
                    <a href="{{ path('classroom_index') }}">Find a classroom for this speaker.</a>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('speaker_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('speaker_edit', { 'id': speaker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
