{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Student</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seat in seats %}
            <tr>
                <td><a href="{{ path('seat_show', { 'id': seat.id }) }}">{{ seat.id }}</a></td>
                <td>{{ seat.number }}</td>
                {% if seat.seatStudent is not null %}
                    <td>{{ seat.seatStudent.firstname }} {{ seat.seatStudent.name }}</td>
                {% else %}
                    <td>No student</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seat_show', { 'id': seat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seat_edit', { 'id': seat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seat_new') }}">Create a new seat</a>
        </li>
    </ul>
{% endblock %}
