{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seat.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ seat.number }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>{{ seat.seatStudent.firstname }} {{ seat.seatStudent.name }}</td>
            </tr>
        </tbody>
    </table>

    {% for trs in seat.seatStudent %}
      <p>{{ trs.name }}</p>
    {% endfor %}


    <ul>
        <li>
            <a href="{{ path('seat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seat_edit', { 'id': seat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
