{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Student</h1>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('student_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('student_edit', { 'id': student.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h2>{{ student.firstname }} {{ student.name }}</h2>
    <p><strong>Id :</strong> {{ student.id }}</p>
    <p><strong>Firstname :</strong> {{ student.firstname }}</p>
    <p><strong>Name :</strong> {{ student.name }}</p>

</div>
{% endblock %}
