{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classrooms list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Seat</th>
                <th>Speaker</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td><a href="{{ path('classroom_show', { 'id': classroom.id }) }}">{{ classroom.id }}</a></td>
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.nbseats }}</td>
                {% if classroom.speaker is not null %}
                    <td>{{ classroom.speaker.name }}</td>
                {% else %}
                    <td>No speaker</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('classroom_show', { 'id': classroom.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('classroom_edit', { 'id': classroom.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classroom_new') }}">Create a new classroom</a>
        </li>
    </ul>
{% endblock %}
