{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classroom</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classroom.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classroom.name }}</td>
            </tr>
            <tr>
                <th>Seat</th>
                <td>{{ classroom.seat }}</td>
            </tr>
            <tr>
                <th>Speaker</th>
                <td>{{ classroom.speaker }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classroom_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classroom_edit', { 'id': classroom.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
